{{!-- <!DOCTYPE html>
<html>
 
<head>
    <title>Passport with Sequelize</title>
</head>
 
<body>
    <h2>Dashboard</h2>
    <h5>Hurray! you are logged in.</h5>
 
</body>
 
</html>

<!DOCTYPE html> --}}
<html>
    <head>
        <meta charset="utf-8">
            <title>Sunday School Registration</title>
          
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
			  <script src="https://code.jquery.com/jquery.js"></script>
			  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

			  <!-- Font Awesome Glyphicons -->
			  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

			  <!-- Chosen -->
			  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.css">
			<link rel="stylesheet" href="./assets/css/school_style.css" media="screen" title="no title">
            <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
			<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.min.js"></script>
    </head>
        <body>
            <style>
                body{
                margin: 0;
                padding: 0;
                background-image: url(./assets/img/kids.jpg);
                background-size: 1280px 640px;
            }
            </style>
            <div class="loginBox">
                {{!-- <img src="./assets/img/user.png" width="85" class="user"> --}}
                <h2> Register </h2>
                <br>
                <br>
                 <form id="signup" name="signup" method="post" action="/signup">
                    <p><label for="firstname">Full Name</label>
                    <input class="text" name="firstname" type="text" /></p>
                    <p><label for="lastname">Age</label>
                    <input name="lastname" type="text" /></p>
                    
					<p>Level</p>
				    <select class="chosen-select" id="level">
				      <option value="1">1 (biginner) </option>
				      <option value="2">2 (medium) </option>
				      <option value="3">3 (advanced) </option>
				    </select>
					<br><br>
                    <input class="btn" type="submit" value="Submit"/>
                    <input class="btn" type="submit" value="Log out"/>
                </form>
           
            </div>
        </body>
</html>