<!DOCTYPE html>
<html>
 
     <head>
		<meta charset="utf-8">
			<title>Sunday School</title>
			<!-- CSS link file -->
			<!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
			<!--link rel="stylesheet" href="assets/css/style.css" media="screen" title="no title"-->

			<!-- Google Font -->
			<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
	</head>
 
<body>
			<div class="loginBox">
				<!--img src="assets/css/user.png" width="85" class="user"-->
				<h2> Log In Here</h2>
				<form>
					<p>Email</p>
					<input class="text" name="email" placeholder="Enter Email">
					<p>Password</p>
					<input type="password" name="password" placeholder="........">
					<input id="signIn" type="submit" name="" value="Sign In">
					<a href="#"> Forgot Password</a>
				</form>	
			</div>
		</body>
 
</html>