*{

}

body{
	margin: 0;
	padding: 0;
	background-image: url(kids.jpg);
	background-size: 1280px 640px;
}

.loginBox{
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 750px;
	height: 300px;
	box-sizing: border-box;
	background: rgba(0,0,0,.3);
	border-radius: 20px;
	margin-right: 20px;
}

h2{
	font-family: 'Indie Flower', cursive;
	font-size: 45px;
	color: #A00050;
	text-shadow: 2px 2px 4px white;
	text-align: center;
	margin-bottom: 0px;
	font-weight: bold;
}

.user{
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	top: calc(-80px/2);
	margin-left: 45%;
}

.loginBox p {
	margin: 5px;
	padding: 0;
	color: white;
	font-family: 'Indie Flower', cursive;
	font-size: 20px;
	font-weight: bold;
	margin-left: 15px;
	text-shadow: 2px 2px 4px #A00050;
}
.loginBox input{
	width: 75%;
	margin-bottom: 5px;
	margin-left: 15px
}

.loginBox input[type="text"]{
	border: none;
	border-bottom: 2px solid white;
	background: transparent;
	margin-left: 15px
	outline: none;
	height: 20px;
	color: white;
	font-size: 16px;
	margin-top: 0;
}

.loginBox input[type="password"]{
	border: none;
	border-bottom: 2px solid white;
	background: transparent;
	margin-left: 15px
	outline: none;
	height: 20px;
	color: white;
	font-size: 16px;
	margin-bottom: 12px;
}

.loginBox input[type="submit"]{
	border: none;
	outline: none;
	height: 40px;
	color: #E3DFDF;
	font-size: 20px;
	background: #A00050;
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
	cursor: pointer;
	border-radius: 20px;
	margin-right: 10px;
}

.loginBox input[type="submit"]:hover{
	background: #E3DFDF;
	color: #A00050;
	font-weight: bold;
	font-size: 20px;
}

.loginBox a{
	color: white;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	font-family: 'Indie Flower', cursive;
}
